.SearchBar {
  background-color: #F1F3F4;
  border-radius: 22px;
  height: 44px;
  max-width: 560px;
  width: 100%;
  position: relative;
}

.SearchBar div {
  cursor: text;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding-left: 20px;
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 13px;
  left: 0;
}

.SearchBar input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 0 8px;
  width: 100%;
  position: absolute;
  top: 2px;
  bottom: 0;
  left: 0;
  font-size: 16px;
  text-indent: 10px;
}
